/* Hero Banner */
.hero_background {
    background-image: url(../../assets/images/003Register.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }



.gridhero{
    background-image: url(../../assets/images/logo_nobkg.png);
    background-size:contain;
    background-repeat: no-repeat;


}

